.btn-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.btn-container button {
  border: none;
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 20px;
}
